@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
  font-family: 'Roboto Condensed', sans-serif;
}


/* KEYFRAMES */

@keyframes appear {
  0%{transform: translateY(-5em);}
  100%{transform: translateY(0); opacity: 1;}
}
@keyframes rotateArrow1 {
  0%{transform: rotateZ(0);}
  100%{transform: rotateZ(45deg); height: 30px;}
}
@keyframes rotateArrow2 {
  0%{transform: rotateZ(0);}
  100%{transform: rotateZ(-45deg); height: 30px;}
}
.rotateArrow1{
animation: rotateArrow1 1s both;
animation-delay: 1s;
}
.rotateArrow2{
animation: rotateArrow2 1s both;
animation-delay: 1s;
}
/* KEYFRAMES */

/* GENERAL CONTAINER */
html, body{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
width: 100%; 
}
/* GENERAL CONTAINER */



/* NAV BAR */
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 1em;
}
.navigationBarContainer{
display: flex;
list-style-type: none;
justify-content: center;
align-items: center;
gap: 1em;
height: 20%;
padding: 0;
}
.navLink{
  color: black;
  text-decoration: none;
}
.navigationLogo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
font-size: 32px;
position: relative;
bottom: 7px;
}
.navbarTitle{
  
}
.navigationArrow1{
  width: 50px;
  height: 7px;
 position: absolute;
transform: rotateZ(-45deg);

 z-index: -1;
 background-color: rgb(251, 134, 255);
 box-shadow: 0 0 1em 0.2em rgb(251, 134, 255);
}
.navigationArrow2{
  width: 50px;
  height: 7px;
 position: absolute;
transform: rotateZ(45deg);

 z-index: -1;
 background-color: rgb(251, 134, 255);
 box-shadow: 0 0 1em 0.2em rgb(251, 134, 255);
}
.searchBar{
  border: none;
  border-bottom: 4px solid rgb(254, 214, 255);
outline: none;
transition:0.2s all;
width: 450px;
height: 30px;
}
.searchBar:focus{
  border-bottom: 4px solid rgb(251, 134, 255);
  transition:0.2s all;
}
.cartContainer{
  display: flex;
  justify-content: end;
  align-items: center;
}
.spanCart{
  background-color: rgb(251, 134, 255);
  padding: 0.5em;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
.cartLength{
  position: relative;
color: rgb(255, 255, 255);
top: 0.7em;
right: 0.9em;
}
/* NAV BAR */




/* FOOTER */
.footerContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 1em;
  background-color: rgb(251, 134, 255);
color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  transition:0.3s;
}

/* FOOTER */




/* HOME */
.homeContainer{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
font-size: 48px;
animation: appear 2s both;
opacity: 0;

}

.homeArrow1{
  width: 20%;
 height: 5px;
position: absolute;
z-index: -1;
background-color: rgb(251, 134, 255);
box-shadow: 0 0 1em 0.2em rgb(251, 134, 255);
}
.homeArrow2{
  width: 20%;
 height: 5px;
position: absolute;
z-index: -1;
background-color: rgb(251, 134, 255);
box-shadow: 0 0 1em 0.2em rgb(251, 134, 255);
}
/* HOME */


/* CART PAGE */
.cartPageContainer{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.cleanCartButton{
  background-color: white;
  border: none;
  border-bottom: 3px solid rgb(251, 134, 255);
  font-size: 32px;
  cursor: pointer;
margin-bottom: 1em;
  box-shadow: inset 0 0px 0 0 rgb(251, 134, 255);
transition: 0.3s;

}
.cleanCartButton:hover{
  box-shadow: inset 0px 0px 1em 0 rgb(251, 134, 255);
  border-radius: 0.2em;
transition: 0.3s;
}
.finishBuy{

    background-color: white;
    border: none;
    border-bottom: 3px solid rgb(251, 134, 255);
    font-size: 32px;
    cursor: pointer;
  margin-top: 1em;
    box-shadow: inset 0 0px 0 0 rgb(251, 134, 255);
  transition: 0.3s;
  margin-bottom: 1em;
}
  .finishBuy:hover{
    box-shadow: inset 0px 0px 1em 0 rgb(251, 134, 255);
    border-radius: 0.2em;
  transition: 0.3s;
  }

.emptyCartContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
animation: appear 2s both;
opacity: 0;
}
.emptyCartContainer .cartIcon{
  font-size: 256px;
  color: rgb(251, 134, 255);
}
.cartCardContainer{
    display: flex;
justify-content: center;
width: 100%;
gap: 2em;
align-items: center;
}
.cartCards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1em;
  flex-wrap: wrap;
}
.cartCard{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  min-width: 20%;
  padding: 1em;
}

.cartCardTitleContainer{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: 100%;
}
.cartCardTitle{
border-bottom: 5px solid rgb(251, 134, 255);
font-size: 24px;
position: relative;
top: 1em;
}
.cartCardPrice{
  align-self: end;
  background-color: rgb(251, 134, 255);
  padding: 0.5em;
  color: white;
}
.cartCardImage{
cursor: pointer;
}
.cartCardImage img{
width: 128px;
}
/* CART PAGE */

/* PURCHASE FORM PAGE */
.purchaseForm{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 0.2em;
}
.purchaseTitle{
  text-align: center;
  font-weight: 100;
  margin-bottom: 1em;
  border-bottom: 3px solid rgb(251, 134, 255);
}
.inputForm{
  width: 600px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 32px;
  border-bottom: 3px solid rgb(251, 134, 255);
}
.getPurchaseBtn{
  margin-top: 1em;
  font-size: 32px;
  background: none;
  border: none;
  width: 200px;
  border-bottom: 5px solid rgb(251, 134, 255);
  cursor: pointer;
  font-weight: 100;
  box-shadow: inset 0 0 0 0 rgb(251, 134, 255);
  transition: 0.3s all;
}
.getPurchaseBtn:hover{
  box-shadow: inset 0 -50px 0 0 rgb(251, 134, 255);
  transition: 0.3s all;
  color: white;
}
/* PURCHASE FORM PAGE */

/* PRODUCTS LIST */
.productList{
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}
.productItemCard{
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 250px;
height: 250px;
border-radius: 1em;
padding: 2em;
transition: 1s;
}
.productItemCard:hover{
  transition: 1s;
  transform: translateY(-0.5em);
  box-shadow: inset 0 0 3em 0 rgb(251, 134, 255);
}
.productItemTitle{
text-align: center;
margin: 0;
}
.productItemBrand{
margin: 0;
font-size: 16px;
color: rgb(185, 185, 185);
text-transform: uppercase;
}
.productItemPrice{
  background-color: rgb(251, 134, 255);
  width: 100%;
  font-size: 24px;
  border-radius: 1em;
color: white;
  text-align: center;
}
.productItemImage{
  height: 150px;
}
a{
  color:black;
text-decoration:none;
}
/* PRODUCTS LIST */



/* PRODUCT DETAIL */
.productDetailContainer{
width: 100%;
display: flex;
justify-content: center;
}
.productDetail{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  flex-wrap: wrap;
  border: 5px solid rgb(251, 134, 255);
  padding: 1em;
  border-radius: 3em;
}
.productDetailInfo{
max-width: 600px;
}
.productDetailTitle{
font-size: 32px;
border-bottom: 3px solid rgb(251, 134, 255);
}
.productDetailDescription{

}
.spanArrow{
  display: inline;
  background-color: rgb(251, 134, 255);
  border-radius: 50%;
  color: white;
  opacity: 0;
  animation: appear 2s both;
}
.productDetailImageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.productDetailImage{
}
.productDetailPriceContainer{
display: flex;
justify-content: space-between;
align-items: center;
}
.productDetailPrice{

}
.productDetailBuyBtn{
  width: 90px;
  background-color: white;
  border: none;
  border-bottom: 3px solid rgb(251, 134, 255);
  font-size: 32px;
  cursor: pointer;
  box-shadow: inset 0 0px 0 0 rgb(251, 134, 255);
transition: 0.3s;
}
/* PRODUCT DETAIL */


@media (max-width: 768px) {


  /* HOME */
.homeArrow1{
width: 70%;
}
  .homeArrow2{
width: 70%;
  }
/* HOME */




/* NAV */
.navbarTitle{
  font-size: 24px;
}
.searchBar{
width: 150px;
}
/* NAV */

/* CART */
.cartCard{
  flex-direction: column-reverse;
  padding: 1em;
  border-radius: 1em;
  transition: 0.3s;
}

/* CART */

}